{
  "trailingComma": "all",
  "printWidth": 120,
  "singleQuote": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "@/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
